# Default ignored files
.idea*
.out*
*/__pycache__/*
*/*/__pycache__/*
logs/
log/
model/
olympics_engine/__pycache__/
olympics_engine/scenario/__pycache__/
olympics_engine/test/.pytest_cache/
model[s]/
*/model[s]/*
*/*/model[s]/*
*/log[s]/*
*/*/log[s]/*